<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3">
            <input #un type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1">
            <input #pw type="password" class="form-control" placeholder="Password" aria-label="Password"
                aria-describedby="basic-addon1">
            <button type="button" (click)='logIn(un.value,pw.value)' class="btn btn-dark">Log Me In!!</button>
        </div>
        <div class="col-3"></div>
    </div>
</div>







            
